.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

data/objects/*/input/*
!data/objects/*/input/.gitkeep
data/objects/*/real_views/*
!data/objects/*/real_views/.gitkeep
data/objects/*/real_views_*/*
!data/objects/*/real_views_*/.gitkeep
data/objects/*/study_views/*
!data/objects/*/study_views/.gitkeep
data/objects/*/generated_views/zero123/*
!data/objects/*/generated_views/zero123/.gitkeep
data/objects/*/generated_views/syncdreamer/*
!data/objects/*/generated_views/syncdreamer/.gitkeep
data/objects/*/poses/*
!data/objects/*/poses/.gitkeep
data/objects/*/ground_truth/*
!data/objects/*/ground_truth/.gitkeep

external/*
!external/README.md

results/*
!results/.gitkeep

logs/*
!logs/.gitkeep

configs/local_envs.json
